/* general */

@font-face {
  font-family: 'Rust';
  src: url('introrustg-base2line-webfont.woff') format('woff');
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.page {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.section {
  width: 1200px;
}

/* styles links */
a:link,
a:visited {
  color: #BBCADA;
  text-decoration: none;
  weight: 500;
}
a:hover {
  color: #668890;
  text-decoration: underline;
}

/* styles text */
h1 {
  font-family: 'Helvetica', 'Arial', sans-serif;
  font-size: 50px;
  font-weight: bold;
  text-decoration: none;
  color: #768090;
}

h2 {
  font-family: 'Helvetica', 'Arial', sans-serif;
  font-size: 30px;
  font-weight: normal;
  text-decoration: none;
  color: #566070;
  margin-bottom: 10px;
  margin-top: 5px;
}

h3 {
  font-family: 'Helvetica', 'Arial', sans-serif;
  margin: 20px 0 15px 20px;
}

a {
  font-family: 'Helvetica', 'Arial', sans-serif;
  font-weight: bold;
  text-decoration: none;
  color: #fdd8a4;
}

p {
  margin-bottom: 10px;
  line-height: 1.5em;
}

/* header section */
.header-container {
  background-color: #444;
  padding: 0;
  display: flex;
  justify-content: center;
}

.header {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.photo img {
  width: 100%;
  display: block;
}

/* menu section */
.menu-container {
  color: #AAA;
  font-family: 'Helvetica', 'Arial', sans-serif;
  background-color: #444444;
  padding: 10px 20px 10px 20px;
  display: flex;
  justify-content: space-between;
}

.menu {
  /* border: 1px solid #fff;  /* For debugging */
  margin-top: 0;
  display: flex;
  justify-content: space-between;
}

/* puts li's in a horizontal line, adjusts margins */
.menu > li {
  display: inline;
  margin: 30px 0 0 20px;
}

.menu-button {
  color: #faac7b;
  display: flex;
  justify-content: flex-end;
}

.menu > a:link,
a:visited {
  color: #BBCADA;
  text-decoration: none;
  weight: 500;
}
.menu > a:hover {
  color: #668890;
  text-decoration: underline;
}

/* content section */
.content-container {
  color: #231a39;
  background-color: #eee;
  padding: 20px;
  display: flex;
  justify-content: left;
}

.content {
  /* border: 1px solid #fff;  For debugging */
  display: flex;
  flex-direction: column;
}

.il-social{
  width: 30px;
  margin: 10px 0 10px 0;
}

/* styles input form */
.form-container {
  color: #414141;
  background-color: #EEEEEE;
  padding: 20px 10px 20px 10px;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

/* .input-form {
  border: 1px solid #fff;  /* For debugging */
  /* display: flex;
  justify-content: flex-start;
} */

.form-row {
  margin-bottom: 40px;
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  flex-wrap: wrap;
}

/* styles input boxes */
.form-row input[type='text'],
.form-row input[type='email'],
.form-row input[type='name'] {
  background-color: #FFFFFF;
  border: 1px solid #D6D9DC;
  border-radius: 3px;
  width: 100%;
  padding: 7px;
  font-size: 14px;
}

/* styles "label" (static text) elements */
.form-row label {
  font-family: 'Helvetica', 'Arial', sans-serif;
  margin-bottom: 15px;
}

/* styles error messages in response to conditional formatting */
.form-row input[type='text']:invalid,
.form-row input[type='email']:invalid {
  border: 1px solid #D55C5F;
  color: #D55C5F;
  box-shadow: none; /* Remove default red glow in Firefox */
}

/* styles text field */
.form-row textarea {
  font-family: "Helvetica", "Arial", sans-serif;
  font-size: 14px;

  border: 1px solid #D6D9DC;
  border-radius: 3px;

  min-height: 200px;
  margin-bottom: 10px;
  padding: 7px;
  resize: none;
}

/* styles any instructions for using text field */
.form-row .instructions {
  color: #999999;
  font-size: 14px;
}

/* styles submit button */
.form-row button {
  font-size: 16px;
  font-weight: bold;

  color: #FFFFFF;
  background-color: #A2D5B3;

  border: none;
  border-radius: 3px;

  padding: 10px 40px;
  cursor: pointer;
}

.form-row button:hover {
  background-color: #82B593;
}

.form-row button:active {
  background-color: #82B593;
}

/* footer section */
.footer-container {
  color: #ccc;
  background-color: #444;
  padding: 20px;
  display: flex;
  justify-content: space-between;
}

.footer-links {
  height: 150px;
  display: flex;
  justify-content: space-between;
}

.footer-links > a {
  display: inline;
  margin: 0 0 0 20px;
}

.social {
  width: 30px;
  color: #faac7b;
  display: flex;
  justify-content: flex-end;
}

.credit {
  color: #BBCADA;
  text-decoration: none;
  weight: 500;
  margin-top: 10px;
}

/* @media only screen and (max-width: 500px) {

  /* styles links */
  /* a:link,
  a:visited {
    color: #BBCADA;
    text-decoration: none;
    weight: 500;
    font-size: large;
  }
  a:hover {
    color: #668890;
    text-decoration: underline;
  }

} */

@media only screen and (min-width: 600px) {

  .form-row {
    flex-direction: row;
    align-items: flex-start;
    margin-bottom: 20px;
  }

  .form-row input[type='text'],
  .form-row input[type='email'],
  .form-row input[type='name'],
  .form-row select,
  .form-row textarea {
    width: 250px;
    height: initial;
  }
  .form-row label {
    text-align: right;
    width: 120px;
    margin-top: 7px;
    padding-right: 20px;
}

  .form-row .instructions {
    margin-left: 120px;
  }
  .form-row .checkbox-label {
    margin-left: 120px;
    width: auto;
  }
  .form-row button {
    margin-left: 120px;
  }
}
